.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 848px;  
    padding: 100px 156px 100px 156px;   
  }
  
  .gallery-item {
  list-style: none;
  margin-right: 24px;
  margin-bottom: 48px; 
  }
  .gallery-item:last-child {
    margin-right: 0px;
  }
  
  .gallery-image {
  width: 360px;
  height: 300px;
  
  }